/* Imported Roboto font from google fonts  */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Profile Page  */

.profile-page {
  height: 100vh;
}
.profile-page > section:nth-of-type(1) {
  padding: 0 4rem;
}

.profile-page > section > h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
}

.profile-page > section > h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
}

.profile-photo > img {
  height: 100vh;
}

/* Introduction Page  */
.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 100px;
  padding: 4rem 5rem;
  color: #f8f8f8;
}


.intro-heading > h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}



.intro-para > p {
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
}

.intro-para > button {
  border: 1px solid #f8f8f8;
}

/* Work Experience  */

.work-exp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 100px;
  padding: 3rem 5rem;
  color: #f8f8f8;
}

.work-exp > div > h2 {
  font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;
}

.job {
  padding: 0 5rem;
}

.job > div > h4 {
  font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 28px;
}

.job > div > h4 > span {
  font-weight: normal;
}

.job > div > p {
  font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
}

/* Skill section  */

.skill {
  padding: 2rem 0;
}

.skill-container {
  width: 620px;
}

.skill-container > div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.skill-container   p {
  margin: 0;
}


.skill-bar {
  width: 380px;
  height: 16px;
  background-color: #f8f8f8;
}

.skill-bar-val {
  height: 100%;
  background-color: #3667A6;
  z-index: 2;
}

.skill-container div:nth-child(1)  .skill-bar-val {
  width: 95%;
}
.skill-container div:nth-child(2)  .skill-bar-val {
  width: 90%;
}.skill-container div:nth-child(3)  .skill-bar-val {
  width: 93%;
}.skill-container div:nth-child(4)  .skill-bar-val {
  width: 85%;
}.skill-container div:nth-child(5)  .skill-bar-val {
  width: 90%;
}.skill-container div:nth-child(6)  .skill-bar-val {
  width: 80%;
}